body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #121212;
}

.ffJosefin{
    font-family: 'Josefin Sans',sans-serif;
}

.innerWrap{
    width: 1240px; 
    margin: 0 auto;
    padding: 80px 20px 0;
}

.dateSec{
    background-color: #ffffff;
    padding-bottom: 120px;
}

main h2{
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.05em; /*글자 간격*/
    margin-bottom: 80px;
}

header{
    background: url(../images/KakaoTalk_20231204_110243473.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

header .innerWrap{
    height: 720px;
    position: relative;
}

header h1{
    padding-top: 120px;
}

header .scroll {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

header .scroll img{
    margin-top: 8px;
}

header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header nav ul{
    display: flex;
    width: 1240px;
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: space-around;
}

header nav ul li a:hover{
    text-decoration: underline;
}

.msgSec{
    background-color: #fafbf7;
}

.msgSec p{
    text-align: center;
    line-height: 1.75;
    margin-bottom: 40px;
}

.msgSec p.illust{
    margin-top: 80px;
    margin-bottom: 0px;
    position: relative;
}
.msgSec p.illust::before{ /*가상요소 선택자*/
    content: url("../images/deco_left.png");
    position: absolute;
    left: 320px;
    bottom: -30px;
}
.msgSec p.illust::after{ /*가상요소 선택자*/
    content: url("../images/deco_right.png");
    position: absolute;
    right: 320px;
    bottom: -30px;
}
.dateSec .layoutWrap{
    display: flex;
}
.dateSec .layoutWrap >p{
    flex-basis: 735px;
}

.dateSec .layoutWrap >div{
    flex-basis: 465px;
    padding-top: 100px;
}
.dateSec .dateDetailSec{
    font-size: 72px;
    margin:  0 0 170px -100px;
    background-color: #FFFFFF;
    padding: 40px 64px;
    line-height: 1.2;
}
.word1{font-size: 50px;}
.word2{font-size: 40px;}
.word3{font-size: 60px;}

.accessSec{
    margin-left: 48px;
}
.accessSec h3{
    color: #cfafa3;
    font-size: 55px;
    letter-spacing: 0.05em;
    margin-bottom: 8px;
}

.accessSec p{
    line-height: 1.6;
}

.formSec{
    background-color: #efe8d9;
    padding-bottom: 60px;
}
form{
    width: 600px;
    margin: 0 auto;
}

input[type="text"],input[type="email"],select,textarea{
    border: 1px solid #cccccc;
    background-color: #ffffff;
    width: 100%;
    margin-top: 5px;
    padding: 4px 8px;
}
/* p.159 */
input[type="radio"],input[type="checkbox"]{
    width: 16px;
    height: 16px;
    vertical-align: baseline;
    margin-right: 4px;
}

.attendRadio{
    text-align: center;
    margin-bottom: 40px;
}

.attendRadio label{
    margin: 0 20px;
    font-size: 24px;
}

.allergyCheck label {
    margin-right: 24px;
}

select{
    background: #ffffff url("../images/arrow.png") no-repeat 98% 50%/17px 10px;
}

textarea{
    height: 148px;
    margin-bottom: 30px;
}

form >p{
    line-height: 1.4;
    margin-bottom: 20px;
}

.submitBtn{
    text-align: center;
}
input[type="submit"]{
    background-color: #121212;
    color: #FFFFFF;
    padding: 18px 80px;
}

footer{
    background-color: #c7877f;
    color: #f3e9e5;
    padding: 14px 10px 20px;
    text-align: center;
}
/* 163.p 패럴랙스효과 */
.dateSec{
    margin-bottom: 480px;
}
.dateSec::after{
    content: ""; /*배경을 넣을 예정이라 내용물은 없는 상태*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat center/cover;
    z-index: -1;
}
/* 165p. 트랜지션 애니메이션 효과 */
input[type="submit"]:hover{
    background-color: #c7877f;
    margin-left: 20px;
    transition-property: background-color,margin-left; /*또는 all*/
    transition-duration: 300ms; /*0.3sec*/
    transition-timing-function: ease-in;
    transition-delay: 0ms;
}

/* 167p.키 프레임 애니메이션 효과 */
@keyframes scrollAnimation{ /*keframes 사용할 애니메이션명*/
    0%{
        transform:scaleY(0); /*시작점*/
        transform-origin: top;
    }
    50%{
        transform: scaleY(1);   /*가운데이전*/
        transform-origin: top;  
    }
    50.1%{
        transform: scaleY(1);   /*가운데 이후*/
        transform-origin: bottom;
    }
    100%{
        transform: scaleY(0);   /*종료점*/
        transform-origin: bottom;
    }
}
header .scroll img{
    animation-name: scrollAnimation;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
/* 
    p.illust{}          :p요소의 class명이 illust면
    .illust{}           :전체요소의 class명이 illust면
*/

/* 
    important > style속성 > id > class > 타입 > *
    1. p{ text-size : 16px !important"}
    2. <div style="text-size: 16px;">
    3. #id{ text-size : 16px;}
    4. .class{text-size: 16px;}
    5. p{text-size : 16px;}
    6. *{ text-size : 16px;}
    순위로 적용
*/

/* 
    가상요소 선택자
        -HTML에 없던 내용물(주로 텍스트나 이미지)을 css에서 넣어주기가 가능한 기능

        ::before        :요소 앞부분에 내용을 가상으로 넣어주기
        ::after         :요소 뒷부분에 내용을 가상으로 넣어주기
            content     :가상 요소의 내용물 

    flex-basis: 465px;
            vs
    width: 465px;

        차이점  :
        1. flex-direction:colums 일때
            width : 고정  flex-basis: 전체사이즈 늘어남
        2.요소보다 더 큰 컨텐츠가 들어 왔을때
            width: 고정    flex-basis: 같이 늘어남
        */