
#header{
    display: flex;
    background-color: bisque;
    z-index: 30; /*다른 요소와 겹쳤을때 우선순위*/
    position: sticky; /*해당요소가 가려질경우 위치고정*/
    top: 0;
}

#header ul li{
    display: inline-block;
    list-style-type: none;
}

#popup{
    background-color: red;
    width: 200px;
    height: 200px;
    position: fixed;
    right: 5px; bottom: 10px;
    z-index: 1;
}

#box{
    background-color: cyan;
    height: 500px;
    width: 700px;
    position: relative;
    margin: 0 auto;
}

#box >div{
    background-color: yellow;
    height: 80px;
    width: 100px;
    position: absolute;
    border-radius: 15px;
}

#box1{
    top:50px;
    left: 300px;
}

#box2{
    top:150px;
    left:450px;
}

#box3{
    bottom:150px;;
    left:150px;
}

#box4{
    bottom: 50px;
    left: 300px;
}

#box5{
    bottom:150px;
    left:450px;
}
#box6{
    top:150px;
    left:150px;
}