.h1{
    border: white 3px solid;
    text-align: center;
    border-radius: 20px;
    margin: 20px auto;
    padding :6px;
    width:650px;

    
}
.p1{
    text-align: center;

}
body{
    background: #bbf1ef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.img1{
    width: 200px;
    border-radius: 1000px;
}

.p2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.l1{
    background-color:#ff9a9e;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
    height: 70px;
    text-align: center;
    list-style-type: none;
    border-radius: 10px;
    padding:20px;
    box-sizing: border-box;
}

.a1{
    text-decoration-line:none;
    color:white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 100px auto;
}