.s1{
    border: 1px solid rgb(165, 160, 160);
}

hr{
    border: solid rgb(165, 160, 160);
    border-width: 1px 0 0 0;
}

.s2{
    font-size: 40px;
    margin: 30px 0 20px 10px;
    font-weight: bold
}

.s3{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

p{
    margin-left: 10px;
    font-size: 15pt;
}

.s4{
    color: orange;
    font-weight: bold;
}

img{
    height: 500px;
}