/* a마크업 사용시 기본 css제거 */
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
a:hover{
    color: orange; 
}
a:active{
    color:aqua; 
}
a:visited{
    color:blue;
}
/* 
    선택자      :hover    :해당 선택자에 마우스를 올렸을때
                :active  :해당 선택자를 마우스 왼쪽 클릭하고 있을때
                :visited :해당 링크에 방문한 적이 있을때
*/

#header{ background-color: aqua;}
#header >ul { display: flex; justify-content: center;}
#header >ul>li{list-style-type: none; margin: 0px 10px;
        position: relative;
}

/* li에 마우스를 올렸을때 submenu클래스의 display를 block으로 */
#header > ul > li:hover .submenu{
    display: block;
}
.submenu{
    padding:0px;
    display: none;
    position: absolute;
    top: 20px;
    width: 80px;
    background-color: magenta;
}
.submenu> li:hover{
    background-color: white;
}