/* 
    flex를 사용 하는 2단계
    1.가로로 늘어놓고 싶은 요소들의 부모 요소 확인
    2.부모 요소에 display:flex를 지정한다
*/
*{
    box-sizing: border-box;
}
.flexbox1{
    border: 2px solid gold;
    width: 250px; /*상위 요소 250px*/
    display: flex; /*직계 하위 요소를 가로배치*/
    flex-wrap: nowrap; /*자식요소들을 한줄표시, 사이즈 자동변경*/
}
.box1{
    border: 2px solid black;
    /* 하위 요소의 사이즈 기본값은 상위요소의 100% */
    width: 100px;
}

.flexbox2{
    border: 2px solid gold;
    width: 250px;
    display: flex;
    flex-wrap: wrap; /*자식요소들을 여러줄 표시, 사이즈 유지 줄바꿈o*/
}

.flexbox3{
    border: 2px solid gold;
    width: 250px;
    display: flex;
    flex-wrap: wrap-reverse; /*자식요소들을 여러줄 표시, 반대로 배치 줄바꿈o*/
}

.flexbox4{

    border: 2px solid gold;
    width: 250px;
    display: flex;
    flex-direction: row; /*배치 방향: row[기본값]:가로배치*/

}

.flexbox5{

    border: 2px solid gold;
    width: 250px;
    display: flex;
    flex-direction: column; /*배치 방향: column:세로배치*/

}

.flexbox6{

    border: 2px solid gold;
    width: 250px;
    display: flex;
    flex-direction: row-reverse; /*배치 방향: row-reverse:가로배치 오->왼*/

}

.flexbox7{

    border: 2px solid gold;
    width: 250px;
    display: flex;
    flex-direction: column-reverse; /*배치 방향: column-reverse:세로배치 하->상*/

}
